* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
}

body {
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4b582d;
    color: white;
}

.nav-header-text-img {
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 1096px;
    padding: 0 25px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
}

nav {
    align-self: stretch;
    flex-wrap: wrap;
    max-width: 1046px;
}

nav > ul {
    display: flex;
    justify-self: stretch;
    flex-wrap: wrap;
    max-width: 1046px;
    row-gap: 5px;
    margin: 0px;

}

.logo {
    max-width: 150px;
    min-width: 100px;
}

nav > ul > li {
    flex: 1 0 auto;
    font-size: 18px;
    text-align: center;
    gap: 25px;
    padding: 5px 5px 5px 0;
}

#logo {
    flex: 10 0 auto;
    text-align: left;
    font-size: 24px;
    color: #f9faf8;
    padding: 0px;
}

.header-text-img {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 125px 0 0 0;
    padding-bottom: 125px;
}

.header-text {
    flex: 0 1 500px;
    font-size: 18px;
    color: #e5e7eb;
}

.header-text > h1 {
    font-size: 48px;
    color: #f9faf8;
    margin-top: 0;
}

.krya0 {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.sign-up-top {
    background-color: #e1a229;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 5px 20px;
    margin-bottom: 18px;
}

.info-container {
    background-color: #fffad9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0 50px 0;
}

.info {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}

h2 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 25px;
}

.img-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 25px;
    gap: 30px;
    max-width: 1046px;
}

.img-text > li {
    flex: 0 1 231px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.temp-img {
    flex: 0 1 225px;
    border: solid 3px #4b582d;
    border-radius: 9px;
    width: 100%;
    max-width: 225px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kryalist {
    width: auto;
    height: 200px;
    overflow: visible;
}

#tweety {
    width: auto;
    height: 175px;
}

blockquote,
figcaption {
    margin: 0;
    padding: 0;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #79b1e0;
    padding: 100px 0;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

blockquote {
    flex-shrink: 1;
    max-width: 724px;
    font-size: 36px;
    font-style: italic;
    color: white;
    padding: 0 25px;
}

figcaption {
    flex-shrink: 1;
    max-width: 724px;
    color: white;
    font-size: 24px;
    font-weight: 800;
    align-self: flex-end;
    padding-right: 25px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 75px 0;
}

.blue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #4b582d;
    border-radius: 10px;
    column-gap: 100px;
    row-gap: 25px;
    padding: 25px 100px;
    margin: 0 15px;
}

.blue-text > h4, 
.blue-text > p {
    color: white;
    margin: 0;
    padding: 0;
}

.blue-text > h4 {
    font-size: 20px;
    font-weight: 800;
}

.blue-text > p {
    font-size: 16px;
    font-weight: 200;
}

.sign-up-bottom {
    background-color: #e1a229;
    border: solid 2px white;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 5px 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b582d;
}

footer > p {
    color: white;
}

/* max-width: 438px for when logo starts getting smaller */

@media (max-width: 550px) { 
    nav > ul {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .header-text-img {
        padding: 25px 0 0 0;
    }
    
    .logo {
        flex-grow: 0;
        flex-shrink: 0;
        min-width: 150px;
    }
    .blue {
        padding: 25px 25px;
    }

}