* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    margin: 0px;
}

header {
    background-color: #1F2937;
    color: white;
}

ul {
    list-style: none;
    margin: 0px;
    border: 0px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

nav > ul > li {
    flex: 1 1 auto;
    text-align: center;
    border: solid 1px red;
}

#logo {
    flex: 10 1 auto;
    text-align: left;
    font-size: 24px;
    color: #f9faf8;
    border: solid 1px green;
    padding: 0px;
}

.header-text-img {
    display: flex;
    gap: 0px;
    padding: 0 0 0 40px;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 125px;
    padding-bottom: 125px;
}

.header-text {
    flex: 0 0 500px;
    font-size: 18px;
    color: #e5e7eb;
}

.header-text > h1 {
    font-size: 48px;
    color: #f9faf8;
    margin-top: 0;
}

.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 500px;
    height: 250px;
    background-color: gray;
}

.header-img > p {
    margin: 0;
    padding: 0;
}

.sign-up-top {
    background-color: #3382f6;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 5px 20px;
    margin-bottom: 18px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 25px 0 50px 0;
}

.info > h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.img-text > li {
    flex: 0 0 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.temp-img {
    border: solid 3px #3382f6;
    border-radius: 9px;
    height: 145px;
    width: 145px;
    text-align: center;
}